@{
    //ViewData["Title"] = "Home Page";
}


    
        <div class="site_Primaryslider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/natco-conf2021-banners-v1.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/anudaan2021-homepage-banner-v1.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/oneyear-pgdtc-banner2021-ver2.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/onemonth-tcpc-bannerj2021-ver2.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/kcb-banner-web-ver1.jpg" alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/natco-banner-for-mf-homepage-v1.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/ambassador-homebanner-ver2.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/thtpf-homebanner-ver1.jpg" alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/home-banner-kbcmf-ver3-b3.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/goltrckm-banner-2020-ver1-b.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/dchome-banner-new2020-ver1.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#" target="_blank">
                            <img src="https://www.mohanfoundation.org/includes-rwd/images/tollfree-help-banner2020-ver2-b.jpg"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_content mt-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-9">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card-wrap h-100">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-between mb-2">
                                                <h4 class="mb-0">
                                                    <span style="color:#FF0000;">Recent</span> Activities
                                                </h4>
                                                <a href="#">
                                                    <button class="btn btn-warning">
                                                        View
                                                        All
                                                    </button>
                                                </a>
                                            </div>
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner lay-1 cont-slider carousel-height-index">
                                                    <div class="carousel-item active w-100">
                                                        <div class="content-wrapper d-flex justify-content-between w-100">
                                                            <div class="carousel-divder">
                                                                <a href="#">
                                                                    <img class="img-fluid"
                                                                         src="https://www.mohanfoundation.org/images/activity_slideshow/7736-cme-rst1.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="carousel-text ml-2">
                                                                <span class="span-color">
                                                                    Delhi, Monday, October 4,
                                                                    2021
                                                                </span>
                                                                <a href="#">
                                                                    <h5 style="color:#000000">
                                                                        MOHAN Foundation in
                                                                        association
                                                                        with PGIMS, Rohtak, SOTTO Haryana conducts CME
                                                                        on
                                                                        Organ Donation at College of Nursing, Rohtak,
                                                                        Haryana</b>
                                                                    </h5>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div style="text-align:justify;" class="lay-2">
                                                            <a href="#" style="color:#000000"></a>
                                                            <p>
                                                                <a href="#" style="color:#000000">
                                                                    On September 24, 2021, an
                                                                    <strong>Continuing Medical Education</strong> (CME)
                                                                    session was organized by MOHAN Foundation in
                                                                    association
                                                                    with PGIMS ...
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <p class="text-right">
                                                            <a style="color:#FF0000;" href="#">
                                                                Read
                                                                More
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="carousel-item w-100">
                                                        <div class="content-wrapper d-flex justify-content-between w-100">
                                                            <div class="carousel-divder">
                                                                <a href="#">
                                                                    <img class="img-fluid"
                                                                         src="https://www.mohanfoundation.org/images/activity_slideshow/7735-gscmt1.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="carousel-text ml-2">
                                                                <span class="span-color">
                                                                    Mumbai, Wednesday, September
                                                                    15,
                                                                    2021
                                                                </span>
                                                                <a href="#">
                                                                    <h5 style="color:#000000">
                                                                        <b>
                                                                            Webinar on Organ
                                                                            Donation
                                                                            conducted for GetSetUp Club members
                                                                        </b>
                                                                    </h5>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div style="text-align:justify;" class="lay-2">
                                                            <a href="#" style="color:#000000"></a>
                                                            <p>
                                                                <a href="#" style="color:#000000">
                                                                    On 15<sup>th</sup> Sept 2021,
                                                                    Ms
                                                                    Jaya Jairam conducted an online awareness session on
                                                                    Organ Donation for GetSetUp Club members which
                                                                    included
                                                                    ...
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <p class="text-right">
                                                            <a style="color:#FF0000;" href="#">
                                                                Read
                                                                More
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="carousel-item w-100">
                                                        <div class="content-wrapper d-flex justify-content-between w-100">
                                                            <div class="carousel-divder">
                                                                <a href="#">
                                                                    <img class="img-fluid"
                                                                         src="https://www.mohanfoundation.org/images/activity_slideshow/7721-ictb-1.jpg">
                                                                </a>
                                                            </div>
                                                            <div class="carousel-text ml-2">
                                                                <span class="span-color">
                                                                    Bangalore, Sunday, October 3,
                                                                    2021
                                                                </span>
                                                                <a href="#">
                                                                    <h5 style="color:#000000">
                                                                        <b>
                                                                            Organ Donation
                                                                            Awareness
                                                                            during
                                                                            Covid India Campaign at Chitradurga
                                                                        </b>
                                                                    </h5>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div style="text-align:justify;" class="lay-2">
                                                            <a href="#" style="color:#000000"></a>
                                                            <p>
                                                                <a href="#" style="color:#000000">
                                                                    ICATT Foundation conducted
                                                                    world’s
                                                                    largest Covid Safe CPR training program, in
                                                                    partnership
                                                                    with CryptoRelief. Dr. Shalini Nalwad ...
                                                                </a>
                                                            </p>
                                                        </div>
                                                        <p class="text-right">
                                                            <a style="color:#FF0000;" href="#">
                                                                Read
                                                                More
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="nav nav-pills nav-justified d-flex justify-content-between">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                <li data-target="#myCarousel" data-slide-to="0">
                                                    <a href="#">
                                                        <img class="img-fluid"
                                                             src="https://www.mohanfoundation.org/images/activity_slideshow/7736-cme-rst1.jpg"
                                                             style="width:140px;height:76px">
                                                        <p class='related-text'>
                                                            MOHAN
                                                            Foundation in association with PGIMS, Rohtak,
                                                            SOTTO Haryana conducts CME on Organ Donation at
                                                            College
                                                            of
                                                            Nursing, Rohtak, Haryana
                                                        </p>
                                                    </a>
                                                </li>
                                        </div>
                                        <div class="col-md-4">
                                            <li data-target="#myCarousel" data-slide-to="1">
                                                <a href="#">
                                                    <img class="img-fluid"
                                                         src="https://www.mohanfoundation.org/images/activity_slideshow/7735-gscmt1.jpg"
                                                         style="width:140px;height:76px">
                                                    <p class='related-text'>
                                                        Webinar
                                                        on Organ Donation conducted for GetSetUp
                                                        Club members
                                                    </p>
                                                </a>
                                            </li>
                                        </div>
                                        <div class="col-md-4">
                                            <li data-target="#myCarousel" data-slide-to="2">
                                                <a href="#">
                                                    <img class="img-fluid"
                                                         src="https://www.mohanfoundation.org/images/activity_slideshow/7721-ictb-1.jpg"
                                                         style="width:140px;height:76px">
                                                    <p class='related-text'>
                                                        Organ
                                                        Donation Awareness during Covid India
                                                        Campaign at Chitradurga
                                                    </p>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-wrap h-100">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h4 mb-2><span style="color:#FF0000;">Organ Donation</span> Ambassador</h4>
                                    <div class="d-flex flex-column">
                                        <a href="#" target="_blank">
                                            <img class="img-fluid" width="350" height="250"
                                                 src="https://www.mohanfoundation.org/includes-rwd/images/ambassador-homebanner-ver1-m.jpg">
                                        </a>
                                        <div class="text-center mt-3">
                                            <a href="#" class="btn btn-success mb-2 w-75">
                                                PLEDGE
                                                ORGANS
                                            </a>
                                            <a href="#" class="btn  btn-info mb-2 w-75">VOLUNTEER</a>
                                            <a href="#" class="btn btn-danger w-75">DONATE FUNDS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-between my-3">
                            <h3 class="mb-0"><span style="color:#FF0000;">Organ Donor</span> Memorial</h3>
                            <a href="#"><button class="btn btn-warning">View All</button></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-wrap h-100">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="img-wrapper w-100 text-center mb-2">
                                        <a href="#">
                                            <img class="img-fluid w-75"
                                                 src="https://www.mohanfoundation.org/donor-memorial/images/rad4E586.jpg">
                                        </a>
                                    </div>
                                    <a href="#">
                                        <h6 class="donar-name text-center">
                                            Marie Therese Hampart Zoumain - 68
                                            Years
                                        </h6>
                                    </a>
                                    <a href="#">
                                        <span class="donar-story">
                                            Marie
                                            Therese Hampart Zoumain story is a
                                            beautiful...
                                        </span>
                                    </a>
                                    <p class="text-right"><a class="btn btn-warning btn-sm" href="#">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-wrap h-100">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="img-wrapper w-100 text-center mb-2">
                                        <a href="#">
                                            <img class="img-fluid w-75"
                                                 src="https://www.mohanfoundation.org/donor-memorial/images/rad0A421.jpg ">
                                        </a>
                                    </div>
                                    <a href="#">
                                        <h6 class="donar-name text-center">Mr. Veeraragavan - 45 Years</h6>
                                    </a>
                                    <a href="#">
                                        <span class="donar-story">
                                            As a
                                            gardener in a in a Government School, near
                                            Ta...
                                        </span>
                                    </a>
                                    <p class="text-right"><a class="btn btn-warning btn-sm" href="#">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-wrap h-100">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="img-wrapper w-100 text-center mb-2">
                                        <a href="#">
                                            <img class="img-fluid w-75"
                                                 src="https://www.mohanfoundation.org/donor-memorial/images/radC64F4.jpg ">
                                        </a>
                                    </div>
                                    <a href="#">
                                        <h6 class="donar-name text-center">Mrs. Bhagya Laxmi - 67 Years</h6>
                                    </a>
                                    <a href="#">
                                        <span class="donar-story">
                                            Mrs. Bhagya
                                            Laxmi, 67 years old simple woman,
                                            who ...
                                        </span>
                                    </a>
                                    <p class="text-right"><a class="btn btn-warning btn-sm" href="#">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-7">
                        <div class="card-wrap transplant-wrapper h-100">
                            <h3 class="mb-2">
                                <span style="color:#FF0000;">Transplant Centres </span>in
                                India
                            </h3>
                            <div class="list-group">
                                <div class="list-group-item transplant-scroll" style="max-height:395px; overflow:auto">
                                    <a href="#">
                                        <h4 class="list-group-item-heading">1. Andhra Pradesh</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">2. Assam</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">3. Bihar</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">4. Chandigarh</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Pancreas
                                                and Multi Visceral
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">5. Delhi-NCR</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Pancreas
                                                and Multi Visceral
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">6. Goa</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">7. Gujarat</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">8. Haryana</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">9. Himachal Pradesh</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">10. Jammu Kashmir</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">11. Jharkhand</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">12. Karnataka</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Body
                                                Donation
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Homograft
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Pancreas
                                                and Multi Visceral
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">13. Kerala</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Hand
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Pancreas
                                                and Multi Visceral
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Small
                                                Intestine
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">14. Madhya Pradesh</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Skin
                                                Bank
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">15. Maharashtra</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Eye
                                                Bank
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Hand
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Pancreas
                                                and Multi Visceral
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Small
                                                Intestine
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">16. Manipur</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#r">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">17. Odisha</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">18. Puducherry</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">19. Punjab</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">20. Rajasthan</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">21. Tamil Nadu</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Bone
                                                Marrow
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Cornea
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Eye
                                                Bank
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Hand
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Pancreas
                                                and Multi Visceral
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Uterus
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">22. Telangana</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Pancreas
                                                and Multi Visceral
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">23. Uttar Pradesh</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Heart
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Lung
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#">
                                        <h4 class="list-group-item-heading">24. West Bengal</h4>
                                    </a>
                                    <ul style="padding-bottom:5px;font-size:16px;"
                                        class="list-unstyled d-flex align-items-center transplant-centers flex-wrap">
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Kidney
                                            </a>
                                        </li>
                                        <li>
                                            <a style="color:#0A7730;" href="#">
                                                Liver
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="figure-wrapper">
                            <h3 class="mb-2"><span style="color:#FF0000;">Organ Donation </span>Figures</h3>
                            <h5>
                                <a href="#">
                                    Kerala
                                </a>(2021) - 16
                            </h5>
                            <div class="bar d-flex align-items-center">
                                <span class="bar-inner">16</span>
                                <div class="progress w-75">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                         style="width: 16%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <h5>
                                <a href="#">
                                    Tamil
                                    Nadu
                                </a>(2021) - 234
                            </h5>
                            <div class="bar d-flex align-items-center">
                                <span class="bar-inner">234</span>
                                <div class="progress w-75">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                         style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <h5>
                                <a href="#">
                                    Telangana
                                </a>(2021) - 351
                            </h5>
                            <div class="bar d-flex align-items-center">
                                <span class="bar-inner">351</span>
                                <div class="progress w-75">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                         style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-4">
                                <a href="#" class="btn btn-primary accordion-toggle">
                                    <b>Lung donation in India (2012 - 2016)</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h3><span style="color:#FF0000;">What's</span> New</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="new-conent_wrapper">
                                            <div style="background-color:#e3e3e3;" class="panel-heading">
                                                <h3 class="card-title p-3">
                                                    NEWS
                                                </h3>
                                            </div>
                                            <div class="meadis-main-wrapper d-flex justify-content-between flex-column">
                                                <div class="media-wrapper">
                                                    <div class="media">
                                                        <img src="https://www.mohanfoundation.org/news/newsimage/Kidney-2.gif"
                                                             width="40px" height="40px">
                                                        <div class="media-body ml-2">
                                                            <p>
                                                                <a href="#">
                                                                    ABO
                                                                    (Mismatched Blood Group) Transplant for
                                                                    Mismatched
                                                                    Kidney Donors
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <img src="https://www.mohanfoundation.org/news/newsimage/Kidney-2.gif"
                                                             width="40px" height="40px">
                                                        <div class="media-body ml-2">
                                                            <p>
                                                                <a href="#">
                                                                    Patients
                                                                    at Higher-rated Dialysis Centers More Likely
                                                                    to Get
                                                                    on Kidney Transplant Waitlists: Study
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <a class="btn btn-warning btn-sm" href="#">
                                                        View
                                                        More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="new-conent_wrapper">
                                            <div style="background-color:#ebebeb;" class="panel-heading">
                                                <h3 class="card-title p-3">
                                                    ARTICLES
                                                </h3>
                                            </div>
                                            <div class="meadis-main-wrapper d-flex justify-content-between flex-column">
                                                <div class="media-wrapper">
                                                    <div class="media">
                                                        <img src="https://www.mohanfoundation.org/includes-rwd/images/home_002_13.jpg"
                                                             alt="brain-img">
                                                        <div class="media-body ml-2">
                                                            <p>
                                                                <a href="#">
                                                                    MANAGEMENT
                                                                    OF BRAIN DEATH
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="media">
                                                        <img src="https://www.mohanfoundation.org/includes-rwd/images/home_002_18.jpg"
                                                             alt="brain-img">
                                                        <div class="media-body ml-2">
                                                            <p>
                                                                <a href="#">
                                                                    Organ
                                                                    Donation - The Gift That Lives On
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <a class="btn btn-warning btn-sm" href="#">
                                                        View
                                                        More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="new-conent_wrapper">
                                            <div style="background-color:#ebebeb;" class="panel-heading">
                                                <h3 class="card-title p-3">
                                                    FEEDBACK
                                                </h3>
                                            </div>
                                            <div style="padding:0px 5px;" class="panel-body">
                                                <h5>
                                                    <a href="#" target="_blank" style="text-decoration:none">
                                                        Life Savers
                                                        Program - Jeeyar Integrated Vedic Academy
                                                    </a>
                                                </h5>
                                            </div>
                                            <div style="padding:0px 5px;" class="panel-body">
                                                <h5>
                                                    <a href="#" target="_blank" style="text-decoration:none">
                                                        Selfless
                                                        Service - Mr. Sivaramakrishna
                                                    </a>
                                                </h5>
                                            </div>
                                            <div style="padding:0px 5px;" class="panel-body">
                                                <h5>
                                                    <a href="#" target="_blank" style="text-decoration:none">
                                                        Thanks From
                                                        USA - Ms. Priya
                                                    </a>
                                                </h5>
                                            </div>
                                            <div style="padding:0px 5px;" class="panel-body">
                                                <h5>
                                                    <a href="#" target="_blank" style="text-decoration:none">
                                                        Thanks From
                                                        Ernst &amp; Young LLP
                                                    </a>
                                                </h5>
                                            </div>
                                            <div style="padding:0px 5px;" class="panel-body">
                                                <h5>
                                                    <a href="#" target="_blank" style="text-decoration:none">
                                                        Thanks From
                                                        Angeetha &amp; Pranav
                                                    </a>
                                                </h5>
                                            </div>
                                            <div style="padding:0px 5px;" class="panel-body">
                                                <h5>
                                                    <a href="#" target="_blank" style="text-decoration:none">
                                                        Thanks From
                                                        Michelin India
                                                    </a>
                                                </h5>
                                            </div>
                                            <div style="padding:0px 5px;" class="panel-body">
                                                <h5>
                                                    <a href="#" target="_blank" style="text-decoration:none">
                                                        Thanks From
                                                        ESI Medical College
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-lg-3 d-flex flex-columns">
                <div class="card">
                    <div class="card-body">
                        <div class="rhs-pad mb-2">
                            <a href="#" target="_blank">
                                <img src="https://www.mohanfoundation.org/includes-rwd/images/podcasts_organ_donation_ver2_s.jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="rhs-pad mb-2">
                            <a href="#" target="_blank">
                                <img src="https://www.mohanfoundation.org/includes-rwd/images/one-year-pgdtcgc-bannerj2021-s-ver2.jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="rhs-pad mb-2">
                            <a href="#" target="_blank">
                                <img src="https://www.mohanfoundation.org/includes-rwd/images/one-month-tcpc-bannerj2021-s-ver2.jpg"
                                     alt="">
                            </a>
                        </div>
                        <div class="rhs-pad mb-2">
                            <a href="#" target="_blank">
                                <img src="https://www.mohanfoundation.org/images/donor-optimisation-banner-IOS.jpg"
                                     title="Donor Optimisation App for iTune(IOS)">
                            </a>
                        </div>
                        <h3 class="mb-2">Follow MF on Social Media</h3>
                        <div class="brd-btm-solid"></div>
                        <div class="mb-2">
                            <div class="status-wrapper d-flex align-items-center mb-2">
                                <img class="mr-2" src="https://www.mohanfoundation.org/includes-rwd/images/user.png"
                                     alt="">
                                <h5>Membership Status</h5>
                            </div>
                            <div class="alert alert-dismissable alert-info">
                                <strong>Total :</strong> 10498<br>
                                <strong>New Today :</strong>1<br>
                                <strong>Your IP :</strong> 162.158.235.118<br>
                                <strong>Our Latest Members :</strong> <br>
                                <strong>Piyali</strong> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 align-items-center justify-content-center">
            <div class="col-md-9 d-flex justify-content-center">
                <a href="#">
                    <img class="img-fluid"
                         src="https://www.mohanfoundation.org/includes-rwd/images/home_002_53.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-3">
            <div class="col-md-9 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="marq-brd">
                            <div class="d-flex justify-content-center">
                                <a href="#" class="btn btn-danger btn-lg">Supporting Organisations</a>
                            </div>
                            <marquee scrolldelay="155" style="padding:5px;">
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/new-tata-trust-logo.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/sbi-foundation-logo.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/sbi-dfhi-logo-ver3.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/transtan-logo-2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/nagarjuna-foundation.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/aishwariya-logo-2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/toshniwal.jpg" height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/vmrt-logo.jpg" height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/shantha-biotech.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/nac-logo-2017-s.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/medanta-logo.jpg" height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/ALPS1.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/medindia-logo.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/global-hospital.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/cognizant-logo-2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/mecl-mumbai-logo.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/godrej-interio-logo.gif"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/ethos-logo.jpg" height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/chennai-metro2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/sims-hospital-2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/nippo-logo-2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/lic-logo-2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/gleneagles-heart-2017.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/kaveri-logo-ver2.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/cooptex-logo-ver2.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/timeorgan-logo-2017-s.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/Tanker-logo-2017-s.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/fortis-logo-2017-s.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/worley-parsons-logo2019.jpg"
                                         height="67">
                                </a>&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/canarabank-2017-s.jpg"
                                         height="67">
                                </a>&nbsp;
                                <img src="https://www.mohanfoundation.org/images/ima-logo-2017-s.jpg" height="67"
                                     alt="">&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/urological-society-logo-2017-s.jpg"
                                         height="67">
                                </a>&nbsp;
                                <img src="https://www.mohanfoundation.org/images/isn-anio-logo-2018.jpg" height="67"
                                     alt="">&nbsp;
                                <a href="#" target="_blank">
                                    <img src="https://www.mohanfoundation.org/images/ndtv-logo-new-ver2.jpg"
                                         height="67">
                                </a>&nbsp;
                                <img src="https://www.mohanfoundation.org/images/ABMMS-ver2.png" height="67" alt="">&nbsp;
                                <img src="https://www.mohanfoundation.org/images/allset2019-ver1.png" height="67"
                                     alt="">&nbsp;
                                <img src="https://www.mohanfoundation.org/images/mgm-logo-2020-ver1.jpg" height="67"
                                     alt="">&nbsp;
                                <img src="https://www.mohanfoundation.org/images/THTPF-logo-202-v2.jpg" height="67"
                                     alt="">&nbsp;
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 align-items-center justify-content-center">
            <div class="col-md-9 d-flex justify-content-center">
                <a href="#" target="_blank">
                    <img class="img-fluid"
                         src="https://www.mohanfoundation.org/includes-rwd/images/triomph-psg-banner-b-er1.png" alt=""
                         title="">
                </a>
            </div>
        </div>
    

        
    
    



