@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Under Construction

    </h1>
    <img src="~/images/mohan-foundation-icon-ver2.png" />
    <p>To Know more <a href="https://www.mohanfoundation.org/">Go to original Website</a>.</p>
    <br />
    <img src="~/images/temp.png" />
</div>
